{% extends "layout.html" %}
{% block title %}
Listar TODOS os Pacientes
{% endblock %}
{% block content %}
        <table border="1px">
            <thead>
                <td><strong>ID de Paciente</strong></td>
                <td><strong>Nome</strong></td>
                <td><strong>Numero</strong></td>
                <td><strong>Data</strong></td>
                <td><strong>Cidade</strong></td>
                <td></td>
                <td></td>
            </thead>

            {% for row in rows %}
            <tr>
                <td>{{ row["rowid"] }}</td>
                <td>{{ row["name"] }}</td>
                <td> {{ row["nmb"]}}</td>
                <td>{{ row["date"] }}</td>
                <td>{{ row["city"] }}</td>
                <td><form action="{{url_for('edit')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Edit"></form> </td>
                <td><form onsubmit="return confirm('Certeza que deseja deletar essa Paciente?');" action="{{url_for('delete')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Delete"></form> </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}